In [1]:
import config

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [3]:
import pymysql
pymysql.install_as_MySQLdb()

In [4]:
engine1 = create_engine('sqlite:///data/aviation_accidents.sqlite')
engine2 = create_engine(f'mysql://{config.username}:{config.password}@localhost/ntbs_data')

In [5]:
session1 = Session(bind=engine1)
session2 = Session(bind=engine2)

In [6]:
# reflect and automap, view existing tables in source db
Base1 = automap_base()
Base1.prepare(engine1,reflect=True)
Base1.classes.keys()

['accident_coords', 'aviation_accidents', 'aviation_accidents_limited']

In [7]:
# reflect and automap, view existing tables in source db
Base2 = automap_base()
Base2.prepare(engine2,reflect=True)
Base2.classes.keys()

['aviation_accidents_coord', 'aviation_cut']

In [8]:
Accident1 = Base1.classes.aviation_accidents_limited

In [9]:
results = session1.query(Accident1).all()

In [10]:
# confirm 11248 results
len(results)

11248

#### load limited table

In [11]:
import pandas as pd

In [12]:
q = 'SELECT * FROM aviation_accidents_limited'
df = pd.read_sql(q,engine1)

In [13]:
df.head()

,id,EventId,AccidentNumber,InvestigationType,EventDate,Location,Country,Latitude,Longitude,AirportCode,...,TotalFatalInjuries,TotalSeriousInjuries,TotalMinorInjuries,TotalUninjured,Schedule,PurposeOfFlight,BroadPhaseOfFlight,WeatherCondition,ReportStatus,PublicationDate
0,1,20181116X04602,WPR19FA026,Accident,11/16/2018,"Overgaard, AZ",United States,34.405833,-110.524167,AZ82,...,2,None,None,None,None,Personal,APPROACH,VMC,Preliminary,11/28/2018
1,2,20181116X63655,ERA19FA047,Accident,11/16/2018,"Clanton, AL",United States,32.822223,-86.459167,None,...,2,None,None,None,None,Positioning,MANEUVERING,VMC,Preliminary,11/27/2018
2,3,20181108X13619,WPR19LA021,Accident,11/08/2018,"Ontario, CA",United States,34.134722,-117.663333,CCB,...,None,None,None,3,None,Personal,DESCENT,VMC,Preliminary,11/29/2018
3,4,20181112X55458,ERA19WA040,Accident,11/08/2018,"Nassau, Bahamas",Bahamas,25.067223,-77.492222,MYNN,...,1,None,None,None,None,None,APPROACH,VMC,Foreign,None
4,5,20181104X72439,ERA19FA036,Accident,11/04/2018,"Louisa, VA",United States,38.024445,-77.960556,LKU,...,1,None,None,None,None,Personal,APPROACH,VMC,Preliminary,11/09/2018

In [15]:
len(df.columns)

32

#### insert starting coords

In [16]:
with open('data/lats.txt','r') as file:
    lats = file.read().splitlines()

In [17]:
with open('data/lons.txt','r') as file:
    lons = file.read().splitlines()

In [18]:
df.insert(32,'start_lats',lats)
df.insert(33,'start_lons',lons)

In [19]:
df.head()

,id,EventId,AccidentNumber,InvestigationType,EventDate,Location,Country,Latitude,Longitude,AirportCode,...,TotalMinorInjuries,TotalUninjured,Schedule,PurposeOfFlight,BroadPhaseOfFlight,WeatherCondition,ReportStatus,PublicationDate,start_lats,start_lons
0,1,20181116X04602,WPR19FA026,Accident,11/16/2018,"Overgaard, AZ",United States,34.405833,-110.524167,AZ82,...,None,None,None,Personal,APPROACH,VMC,Preliminary,11/28/2018,34.571098,-114.358002
1,2,20181116X63655,ERA19FA047,Accident,11/16/2018,"Clanton, AL",United States,32.822223,-86.459167,None,...,None,None,None,Positioning,MANEUVERING,VMC,Preliminary,11/27/2018,32.61510086,-85.43399811
2,3,20181108X13619,WPR19LA021,Accident,11/08/2018,"Ontario, CA",United States,34.134722,-117.663333,CCB,...,None,3,None,Personal,DESCENT,VMC,Preliminary,11/29/2018,39.0041007996,-119.157997131
3,4,20181112X55458,ERA19WA040,Accident,11/08/2018,"Nassau, Bahamas",Bahamas,25.067223,-77.492222,MYNN,...,None,None,None,None,APPROACH,VMC,Foreign,None,Missing Report,Missing Report
4,5,20181104X72439,ERA19FA036,Accident,11/04/2018,"Louisa, VA",United States,38.024445,-77.960556,LKU,...,None,None,None,Personal,APPROACH,VMC,Preliminary,11/09/2018,38.00979996,-77.9701004

#### limit dataset for nulls

In [20]:
df2 = df[(df['start_lats'] != 'Missing Report') & \
         (df['start_lats'] != 'NO CODE') & \
         (df['start_lats'] != 'not found')]

In [22]:
# count rows
len(df2)

9099

In [21]:
df2.head()

,id,EventId,AccidentNumber,InvestigationType,EventDate,Location,Country,Latitude,Longitude,AirportCode,...,TotalMinorInjuries,TotalUninjured,Schedule,PurposeOfFlight,BroadPhaseOfFlight,WeatherCondition,ReportStatus,PublicationDate,start_lats,start_lons
0,1,20181116X04602,WPR19FA026,Accident,11/16/2018,"Overgaard, AZ",United States,34.405833,-110.524167,AZ82,...,None,None,None,Personal,APPROACH,VMC,Preliminary,11/28/2018,34.571098,-114.358002
1,2,20181116X63655,ERA19FA047,Accident,11/16/2018,"Clanton, AL",United States,32.822223,-86.459167,None,...,None,None,None,Positioning,MANEUVERING,VMC,Preliminary,11/27/2018,32.61510086,-85.43399811
2,3,20181108X13619,WPR19LA021,Accident,11/08/2018,"Ontario, CA",United States,34.134722,-117.663333,CCB,...,None,3,None,Personal,DESCENT,VMC,Preliminary,11/29/2018,39.0041007996,-119.157997131
4,5,20181104X72439,ERA19FA036,Accident,11/04/2018,"Louisa, VA",United States,38.024445,-77.960556,LKU,...,None,None,None,Personal,APPROACH,VMC,Preliminary,11/09/2018,38.00979996,-77.9701004
5,6,20181104X01658,CEN19FA024,Accident,11/04/2018,"Uvalde, TX",United States,29.368056,-99.923889,None,...,None,None,None,Personal,CRUISE,VMC,Preliminary,11/13/2018,29.533700942993164,-98.46980285644531

#### migrate to MySQL
- add primary key

In [14]:
df2.to_sql('coords_with_nulls',con=engine2,if_exists='replace')

#### migrate to SQLITE
- insert coordinate table
- use filter_data.ipynb