#### load airport coordinate data
---
provided by [datahub.io](https://datahub.io/core/airport-codes)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/airport_coordinates.csv')

In [3]:
df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

#### load airport codes from .TXT file

In [4]:
# load airport codes from .TXT file
with open('data/airports.txt','r') as file:
    lines = file.read().splitlines()

In [11]:
%%time

# find coordinates for each airport code
lats = []
lons = []
for line in lines:
    if line == 'NO CODE':
        lat = 'NO CODE'
        lon = 'NO CODE'
    elif line == 'Missing Report':
        lat = 'Missing Report'
        lon = 'Missing Report'
    else:

        # look for coordinates on 'ident' col
        try:
            lat = df[df['ident'] == line]['latitude_deg'].item()
            lon = df[df['ident'] == line]['longitude_deg'].item()
        except ValueError:

            # look for coordinates on 'local_code' col
            try:
                lat = df[df['local_code'] == line]['latitude_deg'].item()
                lon = df[df['local_code'] == line]['longitude_deg'].item()
            except ValueError:

                # if multiple results, look for matching
                # 'local_code' and 'iata_code' cols
                try:
                    lat = df[(df['local_code'] == line) & (df['iata_code'] == line)]['latitude_deg'].item()
                    lon = df[(df['local_code'] == line) & (df['iata_code'] == line)]['longitude_deg'].item()
                except:
                    lat = 'not found'
                    lon = 'not found'

    lats.append(lat)
    lons.append(lon)

Wall time: 2min 6s

In [12]:
# confirm 11248 results
len(coords)

11248

In [13]:
# confirm 1018 missing codes
coords.count('NO CODE')

1018

In [14]:
# confirm 209 missing reports
coords.count('Missing Report')

209

In [15]:
# count missing coordinates
coords.count('not found')

922

In [16]:
# remaining rows of data
len(coords) - coords.count('NO CODE') - coords.count('Missing Report') - coords.count('not found')

9099

#### save airport codes to .TXT file

In [17]:
file = open('data/lats.txt','w+')

for lat in lats:
    file.write(f'{lat}\n')
    
file.close()

In [18]:
file = open('data/lons.txt','w+')

for lon in lons:
    file.write(f'{lon}\n')
    
file.close()